body{
    font-family: var(--font-text);
}

header{
    display: flex;
    justify-content: center;
    background-image: url(../assets/Plantentafel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 3em;
}

h1{
    color: var(--text-color-1);
    font-size: 4em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 3em;

}

.workshopZaaien{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/zaaien.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--section-color-2);
    margin-top: 2em;
    border-radius: var(--radius-big-card);
    height: 23em;
    width: 80vw;
}

details{
    max-width: 160px;
}

summary{
    font-weight: bold;
    margin-top: 1em;
    color: var(--text-color-1);
}

.aanmeldButton{
    color: var(--section-color-2);
    background-color: var(--section-color-5);
    border: none;
    border-radius: var(--radius-card);
    width: 18em;
    height: 2em;
    position: absolute;
    margin-top: 23em;
}

.popupButton{
    color: var(--section-color-2);
    background-color: var(--section-color-5);
    border: none;
    border-radius: var(--radius-card);
    width: 18em;
    height: 2em;
}

dialog{
    background-color: var(--section-color-2);
    color: var(--text-color-4);
}

dialog::backdrop {
    background: rgb(0 0 0 / 50%);
}

.stekjesMaken{
    display: grid;
    background-color: var(--section-color-2);
    width: 19em;
    border-radius: var(--radius-big-card);
    color: var(--section-color-7);
    padding-block: 1em;
    padding-inline: 1em;
    width: 80vw;
}

.stekjesFoto{
    width: 7em;
    height: 9em;
    border-radius: var(--radius-card);
    grid-row: -1/1;
}

section > ul{
    list-style: none;
    max-width: 200px;
    padding: 0;
}

footer{
    padding-block: 2em;
    background-color: var(--section-color-2);
    color: var(--text-color-4);
    margin-top: 2em;
}

h3{
    margin-left: 2em;
}

footer > ul{
    list-style: none;
    max-width: 200px;
}

@media (min-width: 750px) {
    .stekjesMaken {
      width: 750px;
    }
    .workshopZaaien {
        width: 750px;
      }

    h1{
        font-size: 10em;
        max-width: 750px;
    }

}

